    <footer class="container mt-5 p-2 text-center">
      <hr>
      <span class="d-block text-muted">Notas &#8226; <%= new Date().getFullYear() %></span>
      <span class="text-muted">
        Utilizando
        <a href="https://expressjs.com/es/">ExpressJS</a>, 
        <a href="https://ejs.co/">EJS</a> y 
        <a href="https://github.com/typicode/lowdb">lowDB</a>.
      </span>
      <span class="d-block text-muted mt-2">
        Repositorio en 
        <a href="https://github.com/sebatstian-web/Notas-con-ExpressJS" target="_blank">
          GitHub
        </a>
      </span>
    </footer>
  </body>
</html>