<%- include('shared/header') %>

<main class="container mt-4 text-center">
  <h3 class="text-danger">¡Página no encontrada!</h3>
  <p>Volver al <a href="/">inicio</a> o crear una <a href="/new-entry">nueva nota</a>.</p>
</main>

<%- include('shared/footer') %>