<%- include('shared/header') %>

<main class="container mt-4">
  <h2>Escribir nueva nota</h2>

  <div class="col-md-8 offset-md-2 mt-4">
    <form method="POST">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" name="titulo" id="titulo" class="form-control" required>
      </div>      

      <div class="form-group">
        <label for="nota">Nota</label>
        <textarea name="nota" id="nota" class="form-control" rows="5" required></textarea>
      </div>   
      
      <div class="form-group text-center mt-4">
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</main>

<%- include('shared/footer') %>